.container {
  background-color: #f7f9fa;
  height: 200rem;
  width: 100vw;
  // display: flex;
  .main {
    padding-top: 5rem;
    width: 1200px;
    height: 700px;
    margin: 0 auto;
    background-color: #f7f9fa;
  }
}
